body
{
    background-image: url(images/chicago-city-lights-at-night.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#clock-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock
{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(219, 219, 219, 0.115);
    width: 100%;
}